@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$color1: #020024;
$color2: #004f77;
$color3: #00a3b5;
$color4: #6bfbce;

.diagram-box {
  border: 1px solid $color1;
  border: 1px solid lighten($color2, 10%);
  // background-color: green;
  display: flex;
  height: 80vh;
  width: 100%;
}

.column-node {
  border: 1px solid #1e3d59;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  // vertical-align: center;
  height: 40px;
  width: 150px;
}
