@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$color1: #020024;
$color2: #004f77;
$color3: #00a3b5;
$color4: #6bfbce;

.diagram-box {
  border: 1px solid $color1;
  border: 1px solid lighten($color2, 10%);
  display: flex;
  width: 100%;
}

.column-node {
  border: 1px solid #1e3d59;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 180px;
  animation: fade 0.9s ease-in;
}

.column-data {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  // text-overflow: wrap;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
}
