.logo {
  position: absolute;
  left: 3%;
  font-size: 40px;
}

.logout-home {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid #cfdcec;
  overflow: hidden;
}

.logout-home:hover {
  cursor: pointer;
}
.logout-button {
  position: absolute;
  top: 8%;
  right: 2%;
  outline: none;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.logout-button:hover {
  color: darken(white, 25%);
}
