//Tab Styling
//https://www.youtube.com/watch?v=WkREeDy2WQ4

.input-container {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin-bottom: 0px;
  width: 40%;
}

.tab-container {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(216, 186, 186, 0.274);
  justify-content: center;
}

.tabs {
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 100%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-radius: 5px;
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.active-tabs {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}

.content {
  display: none;
}

.active-content {
  display: block;
}

//QUERY STYLING
.query-input {
  resize: none;
  background-color: azure;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
}

.query-main {
  height: 100%;
  border: 1 solid pink;
}

.query-submit {
  display: block;
  align-self: center;
}

//SETTINGS STYLING

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-title {
  text-align: center;
}

.submit {
  margin: 5px;
}
