//Tab Styling
//https://www.youtube.com/watch?v=WkREeDy2WQ4
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
$color1: #020024;
$color2: #2e2c57;
$color3: #004f77;
$color4: #00a3b5;
$color5: #6bfbce;
// input box color
$color6: #d6d9e6;

body {
  font-family: 'Lato', sans-serif;
}

.input-container {
  border: none;
  display: flex;
  flex-direction: column;
  margin-left: 0.8%;
  margin-bottom: 0px;
  width: 40%;
  height: 100%;
  background-color: transparent;
  overflow-y: scroll;
  border-radius: 0 0 5px 5px;
  filter: drop-shadow(-2px 1px 33px rgba(0, 163, 181, 0.4));
}

.input-container::-webkit-scrollbar {
  background: transparent; /* Chrome/Safari/Webkit */
  width: 0px;
}

// holds the three buttons
.tab-container {
  display: flex;
  flex-direction: row;
  border: none;
  justify-content: center;
  background-color: transparent;
}

.tab-content {
  background: rgb(0, 79, 119);
  background: linear-gradient(
    0deg,
    rgba(0, 79, 119, 1) 0%,
    rgba(46, 44, 87, 1) 100%
  );
  height: 100%;
  overflow: auto;
}

.tabs {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 5vh;
  background: rgb(171, 165, 165);
  color: white;
  border: 1px solid lighten($color2, 10%);
  cursor: pointer;
  border-radius: 8px 8px 0 0;
  box-sizing: content-box;
  position: relative;
  outline: none;
}

.active-tabs {
  background: $color2;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}

.content {
  display: none;
}

.active-content {
  display: block;
  height: 100%;
}

//QUERY STYLING
.query-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;

  .query-main-inner {
    position: relative;
    margin: 10% 0;
    width: 80%;
    height: 90%;

    .query-input {
      resize: none;
      background-color: $color6;
      outline: none;
      box-sizing: border-box;
      border: none;
      border-radius: 5px;
      padding: 12px 20px;
      font-family: 'Lato', sans-serif;
      // resize: vertical;
      overflow: auto;
    }

    .query-input:focus {
      outline: solid 1px lighten($color1, 15%);
    }

    .error-message-container {
      .error-message {
        background-color: lighten(red, 20%);
        border-radius: 5px;
        color: white;
        text-align: center;
        font-size: 10px;
        font-family: 'Lato', sans-serif;
        padding: 5px 5px 5px 5px;
        margin-bottom: 3px;
        @keyframes fadeInDown {
          0% {
            opacity: 0;
            transform: translateY(-20px);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }
      }
    }
  }
}

.submit-query-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $color6;
  border-radius: 0 0 5px 0;
  width: 20%;
  height: 30px;
  font-size: 20px;
  text-align: right;
}

.submit-query-button:hover {
  cursor: pointer;
  color: lighten(black, 52%);
}

textarea {
  height: 100%;
  width: 100%;
}

//SETTINGS STYLING
.settings-main {
  overflow-y: auto;
  font-family: 'Lato', sans-serif;
  font-size: 11px;

  .uri-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20%;

    form {
      width: 100%;
      max-width: 250px;

      label {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;

        .db-settings-input {
          height: 20px;
          border: 1px $color1;
          background-color: $color6;
          border-radius: 5px 0 0 5px;
          color: black;
          padding: 8px;
          width: 80%;
        }

        .db-submit-settings {
          background-color: $color6;
          // width: 30%;
          height: 36px;
          border-radius: 0 5px 5px 0;
          width: 20%;
          min-width: 60px;
        }

        .db-submit-settings:hover {
          cursor: pointer;
          color: lighten(black, 52%);
        }
      }
    }
  }

  .credentials-main {
    margin: 40px 20%;

    .settings-title {
      text-align: center;
      color: white;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      // max-width: 250px;

      label {
        margin-top: 5px;
      }

      .settings-input {
        width: 100%;
        max-width: 234px;
        height: 20px;
        border: 1px $color1;
        background-color: $color6;
        border-radius: 5px;
        color: black;
        padding: 8px;
      }

      .settings-input:focus {
        outline: solid 1px lighten(rgba(128, 128, 128, 0.443), 15%);
      }

      .submit-settings {
        margin-top: 10px;
        background-color: $color5;
        border-radius: 5px;
        border-width: 0;
        height: 30px;
        width: 100px;
        font-size: 11px;
        color: lighten(black, 5%);
        cursor: pointer;
      }

      .submit-settings:hover {
        background-color: darken($color5, 15%);
        cursor: pointer;
      }
    }
  }
}

.history-query {
  text-align: left;
  border-top: 1px solid $color2;
}

.history-time {
  width: 120px;
  text-align: right;
  border-top: 1px solid $color2;
}

// error message

.error-message {
  background-color: lighten(red, 20%);
  border-radius: 5px;
  color: white;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  padding: 5px 5px 5px 5px;
  margin-bottom: 3px;
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.query-table-cell {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.284);
}
.history-rows:hover {
  cursor: pointer;
  color: #6bfbce;
}
