$color1: #020024;
$color2: #004f77;
$color3: #00a3b5;
$color4: #6bfbce;

.query-table {
  margin: 0.5%;
  background: transparent;
}

.query-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-row {
  background-color: brown;
  flex-direction: row;
}
